@import 'common.sass';
.group {
  margin: $group-margin-top $group-margin-horizontal $group-margin-bottom $group-margin-horizontal;
  background-color: $group-bgColor;
  padding: 1% 1% 20px 1%; // width: calc(80% - $sidebar-width);
  overflow: hidden;
  .group-title {
    padding: 12px 0 0 2%;
    font-family: "PingRegular";
  }
}

@media (min-width: 481px) {
  .group {
    margin-left: $sidebar-width + $group-margin-horizontal;
  }
}